/* Custom container */
.navbar {
	margin: 0 auto;
    max-width: 800px;
}
.container-narrow {
	margin: 0 auto;
    max-width: 800px;
}
.container-narrow > hr {
margin: 30px 0;
}
.navbar-footer-grey {
	margin: 0 auto;
    max-width: 800px;
	text-align: center;
}
.navbar .btn-navbar {
	float: left;
}

/* Background / formatting*/
.grey-bg {
	background-color: #eee;
}

hr.line {
	border: 1px solid !important;
}

br.large {
  margin: 100px;
}

img.center {
  display: block;
  margin: 0 auto;
}

/* Game design specific */
.game-design {
  font-size:  18px;
  line-height: 1.7;
  font-family: serif;
}
/*div.grey-bg {
  background: rgb(200, 200, 200);
}*/


/* Code colors and beautification */
.keyword {
	/* For code keywords like "new", "for", "if", "public" etc... */
	color: #900;
}

.type {
	color: #050;
	font-weight: bold;
}

.value {
	/* For value assignments like int i = 0, the 0 would be colored*/
	color: #909;
}

.comment {
	/* For code comments */
	color: hsl(70, 100%, 30%);
}

.focus {
	/* To highlight code that has changed/ is dicussed */
	background-color: #ffc;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
}

.image-gallery figure {
  text-align: center;
}

.image-gallery img {
  max-width: 100%;
  height: auto;
}